.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Burbank';
}

html{
  background: radial-gradient(50% 50% at 50% 50%, #0280CC 27.08%, #005DA6 65.62%, #01529B 94.79%);
}